<div class="c-notifications-component">
	<div *ngFor="let m of errors; let i = index" class="c-error">
		<table>
			<tr>
				<td>{{m}}</td>
				<td class="c-close-notification">
					<a href="javascript:void(0);" (click)="removeError(i)">
						<span class="slds-icon_container" title="Close message">
							<svg class="slds-icon c-slds-icon--xsmall" aria-hidden="true">
								<use xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#close"></use>
							</svg>
							<span class="slds-assistive-text">Close message</span>
						</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
	<div *ngFor="let m of info; let i = index" class="c-info">
		<table>
			<tr>
				<td>{{m}}</td>
				<td class="c-close-notification">
					<a href="javascript:void(0);" (click)="removeInfo(i)">
						<span class="slds-icon_container" title="Close message">
							<svg class="slds-icon c-slds-icon--xsmall" aria-hidden="true">
								<use xlink:href="/slds/icons/utility-sprite/svg/symbols.svg#close"></use>
							</svg>
							<span class="slds-assistive-text">Close message</span>
						</span>
					</a>
				</td>
			</tr>
		</table>
	</div>
</div>