<div class="c-top-menu">
	<ul>
		<li><a [ngClass]="{'c-active': mode == 'dashboard'}" href="#/dashboard" >Dashboard</a></li>
		<li><a [ngClass]="{'c-active': mode == 'users'}" href="#/users" >Users</a></li>
		<li><a [ngClass]="{'c-active': mode == 'topics'}" href="#/topics" >Topics</a></li>
	</ul>
</div>

<div class="c-admin-content">

	<c-dashboard *ngIf="mode == 'dashboard'"></c-dashboard>

	<c-users *ngIf="mode == 'users'"></c-users>

	<c-topics *ngIf="mode == 'topics'"></c-topics>

	<c-topic-edit *ngIf="mode == 'topicEdit'"></c-topic-edit>

</div>