<div>
	<form #newPasswordForm="ngForm" class="slds-form--stacked" novalidate>

		<div class="slds-form-element">
			<label class="slds-form-element__label" for="password">Password</label>
			<div class="slds-form-element__control">
				<input
					[(ngModel)]="newPasswordFormData.password"
					id="password"
					type="password"
					name="password"
					class="slds-input"
					required="true"
					maxlength="255"
					#newPasswordFormPassword="ngModel" />
			</div>
			<div class="c-field-errors" [hidden]="newPasswordFormPassword.valid || newPasswordFormPassword.untouched">
				<div *ngIf="newPasswordFormPassword.errors?.required" class="slds-form-element__help">Value is required</div>
			</div>
		</div>

		<div class="slds-form-element">
			<label class="slds-form-element__label" for="confirmPassword">Confirm Password</label>
			<div class="slds-form-element__control">
				<input
					[(ngModel)]="newPasswordFormData.confirmPassword"
					id="confirmPassword"
					type="password"
					name="confirmPassword"
					class="slds-input"
					required="true"
					maxlength="255"
					#newPasswordFormConfirmPassword="ngModel" />
			</div>
			<div class="c-field-errors" [hidden]="newPasswordFormConfirmPassword.untouched || !newPasswordFormData.password || newPasswordFormData.confirmPassword == newPasswordFormData.password">
				<div class="slds-form-element__help">Both passwords not match</div>
			</div>
		</div>

		<br />

		<div class="slds-text-align--right">
			<button
				(click)="changePassword()"
				[disabled]="newPasswordForm.invalid || newPasswordFormData.confirmPassword != newPasswordFormData.password"
				class="slds-button slds-button--brand">
				Change Password
			</button>
		</div>

	</form>
</div>