<div>
	<form #resetForm="ngForm" class="slds-form--stacked" novalidate>

		<div class="slds-form-element" [ngClass]="{'slds-has-error': resetFormEmail.errors && resetFormEmail.touched}">
			<label class="slds-form-element__label" for="email">Email<span class="c-required-field-mark">*</span></label>
			<div class="slds-form-element__control">
				<input
					[(ngModel)]="resetFormData.email"
					id="email"
					type="email"
					name="email"
					class="slds-input"
					required="true"
					maxlength="255"
					#resetFormEmail="ngModel" />
			</div>
			<div class="c-field-errors" [hidden]="resetFormEmail.valid || resetFormEmail.untouched">
				<div *ngIf="resetFormEmail.errors?.required" class="slds-form-element__help">Value is required</div>
			</div>
		</div>

		<br />

		<div class="slds-text-align--right">
			<button
				(click)="reset()"
				[disabled]="resetForm.invalid"
				class="slds-button slds-button--brand">
				Reset
			</button>
		</div>

	</form>
</div>