<h1>USERS</h1>

<div *ngIf="state" class="slds-text-align--right">
	<button *ngIf="state.page > 1" (click)="prevPage()" class="slds-button">&lt; prev</button>&nbsp;{{state.page}}/{{state.totalPages}}&nbsp;<button *ngIf="state.page < state.totalPages" (click)="nextPage()" class="slds-button">next &gt;</button>
</div>

<c-list-view
	*ngIf="state"
	[list]="state.list"
	[columns]="columns">
	<ng-template #actions let-item="item">
		<button class="slds-button slds-button--neutral c-small" (click)="editUser(item)">Edit</button>
	</ng-template>
</c-list-view>
