<div>
	<form #loginForm="ngForm" class="uk-form-stacked" novalidate>

		<div class="uk-margin">
			<label class="uk-form-label" for="email">Email</label>
			<input
				[(ngModel)]="loginFormData.email"
				id="email"
				type="email"
				name="email"
				class="uk-input"
				required="true" />
		</div>

		<div class="uk-margin">
			<label class="uk-form-label" for="email">Password</label>
			<input
				[(ngModel)]="loginFormData.password"
				id="password"
				type="password"
				name="password"
				class="uk-input"
				required="true" />
		</div>

		<div>
			<label>
				<input [(ngModel)]="loginFormData.rememberme" class="uk-checkbox" type="checkbox" name="rememberme"> Remember me
			</label>
		</div>

		<div class="uk-text-right">
			<button
				(click)="login()"
				[disabled]="loginForm.invalid"
				class="uk-button uk-button-primary">
				Login
			</button>
		</div>

	</form>
</div>