<div>
	<form #resetForm="ngForm" class="uk-form-stacked" novalidate>

		<div class="uk-margin">
			<label class="uk-form-label" for="password">Password</label>
			<input
				[(ngModel)]="newPasswordFormData.password"
				id="password"
				type="password"
				name="password"
				class="uk-input"
				required="true"
				maxlength="255" />
		</div>

		<div class="uk-margin">
			<label class="uk-form-label" for="confirmPassword">Confirm Password</label>
			<input
				[(ngModel)]="newPasswordFormData.confirmPassword"
				id="confirmPassword"
				type="password"
				name="confirmPassword"
				class="uk-input"
				required="true"
				maxlength="255" />
		</div>

		TODO: Password == ConfirmPassword

		<div class="uk-text-right">
			<button
				(click)="changePassword()"
				[disabled]="newPasswordFormData.invalid"
				class="uk-button uk-button-primary">
				Change Password
			</button>
		</div>

	</form>
</div>