.c-panel {
	background-color: #fff;
	margin: auto;
	font-size: 14px;
	color: #676a6c;
	margin-bottom: 50px;
}

.c-panel-header {
	padding: 15px 20px;
	color: #1AB394;
	border-bottom: 1px solid #e7eaec;
	font-size: 25px;
	font-weight: 100;
}

.c-panel-body {
	padding: 20px;
}

.c-auth-app {
	margin-top: 50px;
}

.c-auth-app-links {
	margin-top: 20px;
}

.c-auth-app-links li {
	list-style: none;
}

.c-auth-app-links .active-link {
	display: none;
}